body {
  background-color: #c0392b;
}

@media (min-width: 768px) {
  body {
    background-image: url("../images/redFlowers.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (max-width: 767px) {
  .navbar-default {
    background-color: rgba(192, 57, 43, 0.9);
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, 0.75);
  }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(231, 76, 60, 0.5);
    border-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(231, 76, 60, 1.0);
    border-color: transparent;
  }
  /* Dropdown nav elements */
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(231, 76, 60, 1.0);
    border-color: transparent;
  }
}
