<div class="downloads">
  <div class="download">
    <span class="align vertical">
      <h3 class="inline-header">Windows</h3>
      <img class="os-icon" src="https://gitcdn.xyz/repo/adolby/AndrewDolby.com/master/resources/images/windows.svg">
    </span>

    <ul class="link-list">
      <li class="download-item link-item">
        <a class="button-outline" href="downloads/kryvos_0.9.8_windows_x64.exe" download>
          <img src="https://gitcdn.xyz/repo/adolby/AndrewDolby.com/master/resources/images/monitor.svg"><span>Installer / 64-bit</span>
        </a>
      </li>
    </ul>
