<ul class="link-list">
  <li class="link-item">
    <a onclick="{{default-theme(t)}}" id="defaultStyle" href="">
      <img src="images/grid.svg" alt="Default Theme">
    </a>
  </li>

  <li class="link-item">
    <a onclick="{{green-theme(t)}}" id="greenStyle" href="">
      <img src="images/leaf.svg" alt="Green Theme">
    </a>
  </li>

  <li class="link-item">
    <a onclick="{{red-theme(t)}}" id="redStyle" href="">
      <img src="images/flame.svg" alt="Red Theme">
    </a>
  </li>

  <li class="link-item">
    <a onclick="{{blue-theme(t)}}" id="blueStyle" href="">
      <img src="images/waterdrop.svg" alt="Blue Theme">
    </a>
  </li>
</ul>
