<div class="row">

  <div class="col-xs-12 col-md-12" ng-repeat="os in downloads.list">

    <div class="row text-center">
      <div class="col-xs-12">
        <h3>{{os.name}}<i class="double-space fa fa-{{os.icon}}"></i></h3>
      </div>
    </div>

    <div class="row text-center">

      <div class="col-xs-12" ng-repeat="data in os.data">
        <ul class="list-unstyled">
          <li>
            <p class="sub-heading">{{data.wordSize}}</p>
          </li>
          <li>
            <a class="btn btn-outline" ng-show="data.installerPath" ng-href="{{data.installerPath}}" download><i class="ionicons ion-monitor"></i>Installer</a>
            <a class="btn btn-outline" ng-href="{{data.archivePath}}" download><i class="ionicons ion-disc"></i>{{os.archiveFile}}</a>
          </li>
        </ul>
      </div>

    </div>

    <hr />

  </div>

</div>
